---
layout: splash
permalink: /
title: "Akshay's Analytics Portfolio"
header:
  overlay_color: "#3D348B"
  overlay_image: "images/under-water.jfif"
  cta_label: 
  cta_url: 
  caption:
excerpt: 'A collection of my works and blog posts about data things and others. <br /> <small></small><br /><br />  [<i class="fab fa-github"></i> Github](https://github.com/akshayreddykotha){: .btn .btn--primary} [<i class="fab fa-linkedin"></i> LinkedIn](https://www.linkedin.com/in/akshaykotha/){: .btn .btn--linkedin}'




intro:
  - excerpt: 'Feel free to get in touch!'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}